- var title = "Coastal Concepts - Sacrificial High Energy Fender";

include ../../../templates/header.jade

	body
		include ../../../templates/navbar.jade
		
		section#content-region-3.padding-40.page-tree-bg
			.container
				h3.page-tree-text
					| Sacrificial High Energy Fender
		// page-tree end here
		.space-70
		.container.portfolio-details
			.row
				.col-md-8.portfolio-single-slide.margin-btm-40
					.flexslider
						ul.slides
							li
								img.img-responsive(src='/assets/img/products/fender2.jpg', alt='')
							li
								img.img-responsive(src='/assets/img/products/fender.jpg', alt='')
					// flex slider
					.portfolio-single-desc
						h3 Sacrificial High Energy Fender
						h5 Unique Design
						p
							| The Sacrificial High Energy Fender is uniquely designed to absorb extreme impact forces which exceed the capacity of the fendering system. This is achieved by harnessing the elastic and plastic properties of steel resulting in a large energy absorption whilst limiting reaction forces on the berthing structure. The Sacrificial Fender can be custom designed for most fendering systems or retrofit to existing systems.
						h5 Application
						p
							| The Sacrificial Fender is ideally suited, but not limited to, the oil and gas industry where safety is the primary concern. Berthing structures in such instances are often offshore, highly exposed and prone to high wind and current forces acting on vessels during berthing. In such case not only would a vessel colliding with the berthing structure have an environmental impact, but the downtime as a result of this could lead to financial implications. Downtime is limited through the modular design of the structure which allows the berthing structure to remain operative after impact while replacement components are manufactured.
						p
							| For aging berthing facilities, a structural analysis can be performed and the allowable berthing force determined given the current state of the structure. The Sacrificial Fender can be incorporated to ensure the berthing force obtained from the analysis is not exceeded. In the event of the berthing force being exceeded, the Sacrificial Fender will allow a large energy take-up to prevent damage to the aging structure. This allows multi-use of facilities and extends the life span of a structure.
						h5 Performance Testing
						p
							| Extensive testing has been performed on full scale Sacrificial Fenders and test data is correlated to Finite Element Models (FEM). Various berthing conditions are simulated in the FEM model and output reports of analysis are supplied with all units. Reaction forces transferred to the berthing structure are limited to 1.5 – 2.0 times that of the fender capacity. For aging structures this value can be limited to the force obtained through the structural analysis.
						img.img-responsive(src='/assets/img/products/fender-performance-test.png', alt='Sacrificial High Energy Fender performance test.')
						.space-20
						p
							| Pictured above is a full scale test performed on a Sacrificial Fender incorporating an SPC 600 Conical Fender supplied by ShibataFenderTeam. The Sacrificial Fender remains within its elastic region throughout the deformation of the fender, thereafter reaching its rated reaction force and yielding plastically. This plastic deformation allows for a high rate of energy absorption whilst limiting the reaction force transferred to the berthing structure.  Typical reaction and energy ratings can be seen in the graph below. Energy take up can be seen to increase 5 fold from that of the fender.
						h5 Manufacturing
						p
							| Construction of the Sacrificial Fender is handled in-house in accordance with stringent quality control specifications and all products undergo a final inspection prior to delivery to the client.
						h5 Onsite Assembly
						p
							| We can assist with the installation of the Sacrificial Fender globally with the assistance of our global partners. With a modular bolted system the Sacrificial Fender can easily be containerised, transported and assembled onsite.
				include ../../../templates/product-sidebar.jade
		.space-70
		include ../../../templates/footer.jade
		include ../../../templates/scripts.jade