.col-md-4
	.sidebar-box
		h4 Products
		ul.cat-list
			li
				a.hover-color(href='/products/sacrificial-high-energy-fender/') High Energy Fender
			li
				a.hover-color(href='/products/dewatering-cope-shutter/') De-Watering Cope Shutter
			li
				a.hover-color(href='/products/pile-guide-frame/') Pile Guide Frame
			li
				a.hover-color(href='/products/modular-barges/') Modular Barges