#footer
	.container
		.row
			.col-md-4.margin-btm-20
				.footer-col
					h3 Coastal Concepts
					p
						| Coastal Concepts strives to deliver specialist marine engineering solutions through extensive product research and development.
				.space-20
				.footer-col
					h3 contact info
					p
						i.ion-home
						|  Old College Building, Stellenbosch
					p
						i.ion-iphone
						|  +27 (0)21 883 8870
					p
						i.ion-email
						|  info@coastalconcepts.co.za
			// col-4 end
			.col-md-3.margin-btm-20
				.footer-col
					h3 Our Company
					ul.post-list.list-unstyled
						li
							a.hover-color(href='/') Home
						li
							a.hover-color(href='/about/') About
						li
							a.hover-color(href='/contact-us/') Contact
			// latest post col end
			.col-md-5
				.footer-col
					h3 Get in touch
					form#contact-footer
						.row
							.col-md-6
								input#contact-footer-name.form-control(type='text', placeholder='Name...')
							.col-md-6
								input#contact-footer-email.form-control(type='email', placeholder='Email...')
							.col-md-12
								input#contact-footer-subject.form-control(type='text', placeholder='Subject...')
							.col-md-12
								textarea#contact-footer-message.form-control(placeholder='Massage...', rows='7')
							.col-md-12
								#contactFooterCaptcha
								.space-20
							#contact-footer-status-message.hidden.col-md-12
								p.success
									| The status message will appear here.
								.space-20
							.col-md-12.text-right
								button.btn.btn-lg.btn-white(type='submit') Send message
			// get in touch col end
		// footer main row end
		.space-70
		.row
			.col-md-12.text-center.footer-bottom
				a(href='/')
					img(src='/assets/img/footer/footer_logo.png')
				.space-20
				span
					| © Coastal Concepts 2015. Built by 
					a.hover-color(href='http://sebastiancoetzee.com') Sebastian Coetzee
		// footer copyright row end
	// container
// footer main end
