#footer
	.container
		.row
			.col-md-4.margin-btm-20
				.footer-col
					h3 Coastal Concepts
					p
						| Coastal Concepts strives to deliver specialist marine engineering solutions through extensive product research and development.
				.space-20
				.footer-col
					h3 contact info
					p
						i.ion-home
						|  Old College Building, Stellenbosch
					p
						i.ion-iphone
						|  +27 (0)21 883 8870
					p
						i.ion-email
						|  info@coastalconcepts.co.za
				.space-20
				.footer-col
					h3 Follow us
					ul.list-inline.social-btn
						li
							a(href='#')
								i.ion-social-facebook(data-toggle='tooltip', data-placement='top', title='', data-original-title='Like On Facebook')
						li
							a(href='#')
								i.ion-social-twitter(data-toggle='tooltip', data-placement='top', title='', data-original-title='Follow On twitter')
						li
							a(href='#')
								i.ion-social-googleplus(data-toggle='tooltip', data-placement='top', title='', data-original-title='Follow On googleplus')
						li
							a(href='#')
								i.ion-social-pinterest(data-toggle='tooltip', data-placement='top', title='', data-original-title='pinterest')
						li
							a(href='#')
								i.ion-social-skype(data-toggle='tooltip', data-placement='top', title='', data-original-title='skype')
				// footer social col
			// col-4 end
			.col-md-3.margin-btm-20
				.footer-col
					h3 Our Company
					ul.post-list.list-unstyled
						li
							a.hover-color(href='/') Home
						li
							a.hover-color(href='/about/') About
						li
							a.hover-color(href='/contact-us/') Contact
			// latest post col end
			.col-md-5
				.footer-col
					h3 Get in touch
					form#contact-footer
						.row
							.col-md-6
								input#contact-footer-name.form-control(type='text', placeholder='Name...')
							.col-md-6
								input#contact-footer-email.form-control(type='email', placeholder='Email...')
							.col-md-12
								input#contact-footer-subject.form-control(type='text', placeholder='Subject...')
							.col-md-12
								textarea#contact-footer-message.form-control(placeholder='Massage...', rows='7')
							.col-md-12
								#contactFooterCaptcha
							#contact-footer-status-message.hidden.col-md-12
								.space-20
								p.success
									| The status message will appear here.
							.col-md-12.text-right
								button.btn.btn-lg.btn-white(type='submit') Send message
			// get in touch col end
		// footer main row end
		.space-70
		.row
			.col-md-12.text-center.footer-bottom
				a(href='/')
					i.ion-earth(style="font-size: 42px;")
				.space-20
				span
					| © Coastal Concepts 2015. Built by
					a.hover-color(href='http://sebastiancoetzee.com') Sebastian Coetzee
		// footer copyright row end
	// container
// footer main end