doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		meta(name='description', content='HTML5 & CSS3')
		meta(name='keywords', content='HTML5, CSS3, Theme,bootstrap3,clean design')
		// bootstrap3 css
		link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		// ion icon fonts css
		link(href='/bower_components/Ionicons/css/ionicons.min.css', rel='stylesheet')
		// custom css
		link(href='/css/style.css', rel='stylesheet', type='text/css')
		// google  font family
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400italic', rel='stylesheet', type='text/css')
		// flex slider css
		link(href='/bower_components/flexslider/flexslider.css', rel='stylesheet')
		// animated  css
		link(href='/bower_components/animate.css/animate.min.css', rel='stylesheet')
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->