header.header-main
	.navbar.navbar-default(role='navigation')
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')
					h5
						| Coastal Concepts
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/') Home
					li
						a(href='/about/') About
					li.dropdown
						a.dropdown-toggle.js-activated(href='#', data-toggle='dropdown') Products
						ul.dropdown-menu
							li
								a(href='/products/sacrificial-high-energy-fender/') High Energy Fender
							li
								a(href='/products/dewatering-cope-shutter/') De-Watering Cope Shutter
							li
								a(href='/products/pile-guide-frame/') Pile Guide Frame
							li
								a(href='/products/modular-barges/') Modular Barges
					li
						a(href='/contact-us/') Contact Us
			// /.nav-collapse
		// /.container
	// navigation end
// header main end