section#slider-sec.slider-reg
	.main-flex-slider
		ul.slides
			li
				figure
					img.img-responsive(src='/assets/img/slide3.jpg', alt='slider-img-1')
					figcaption.slider-overlay
						.slider-text.animated.fadeInDown
							h1 Unique design
							p
								| Delivering specialist marine engineering solutions
							p.slide-btn
								a.btn.btn-white.btn-lg(href='/about/') Learn More
			li
				figure
					img.img-responsive(src='/assets/img/slide2.jpg', alt='slider-img-2')
					figcaption.slider-overlay
						.slider-text
							h1 Expert engineering services
							p
								| Leveraging decades of experience in the marine industry
							p.slide-btn
								a.btn.btn-white.btn-lg(href='/contact-us/') Get in touch