- var title = "Coastal Concepts - Pile Guide Frame";

include ../../../templates/header.pug

body
	include ../../../templates/navbar.pug

	section#content-region-3.padding-40.page-tree-bg
		.container
			h3.page-tree-text
				| Pile Guide Frame
	// page-tree end here
	.space-70
	.container.portfolio-details
		.row
			.col-md-8.portfolio-single-slide.margin-btm-40
				.flexslider
					ul.slides
						li
							img.img-responsive(src='/assets/img/products/frame1.jpg', alt='')
				// flex slider
				.portfolio-single-desc
					h3 Pile Guide Frame
					p
						| One of the most challenging operations in offshore quay wall construction is pile placement and the accuracy thereof. Coastal Concepts has developed a range of pile guide frames for driving concrete and steel piles to a high degree of accuracy. For quay walls that require radius bends our rotation module deals with this effortlessly.
					p
						| Lead design engineer Manfred Kloos along with our sister company WML Coast (Pty) Ltd successfully designed a Pile Guide Frame for driving HZ 1180 M A king piles for Stefanutti Stocks Marine, during construction at Maydon Wharf in the Durban Harbour.
					p
						| The frame was designed to drive six king piles in a predetermined sequence incorporating roller guide supports to assist with driving accuracy and ease of release after driving. To further assist removal of the frame after driving, the rollers were made retractable. The frame also incorporated working platforms and height adjustable supports for fine tuning adjustments.

			include ../../../templates/product-sidebar.pug
	.space-70
	include ../../../templates/footer.pug
	include ../../../templates/scripts.pug
