- var title = "Coastal Concepts - De-Watering Cope Shutter";

include ../../../templates/header.pug

body
	include ../../../templates/navbar.pug

	section#content-region-3.padding-40.page-tree-bg
		.container
			h3.page-tree-text
				| De-Watering Cope Shutter
	// page-tree end here
	.space-70
	.container.portfolio-details
		.row
			.col-md-8.portfolio-single-slide.margin-btm-40
				.flexslider
					ul.slides
						li
							img.img-responsive(src='/assets/img/products/shutter1.jpg', alt='')
						li
							img.img-responsive(src='/assets/img/products/shutter2.jpg', alt='')
						li
							img.img-responsive(src='/assets/img/products/shutter3.jpg', alt='')
						li
							img.img-responsive(src='/assets/img/products/shutter4.jpg', alt='')
				// flex slider
				.portfolio-single-desc
					h3 De-Watering Cope Shutter
					p
						| A recurrent problem in constructing quay walls in offshore conditions is casting the capping/ cope beam. These beams usually extend below water level and require specialist tremie concreting techniques. Coastal Concepts has developed a unique sealing system to allow concreting in dry conditions negating the need for tremie concrete.
					p
						| Lead design engineer Manfred Kloos along with our sister company WML Coast (Pty) Ltd successfully designed a de-watering cope shutter for a 200 ton in-situ concrete cast for Stefanutti Stocks Marine, during construction at Maydon Wharf in the Durban Harbour.
					p
						| The cope design extended to -0.5 mCD and was to be cast in dry conditions with no tremie concrete permitted. Our tried and tested sealing system allowed all water in the shutter to be pumped out prior to casting.
					p
						| The cope shutter is designed to fit all types of quay wall construction and can be modified to suit any customer requirements.

			include ../../../templates/product-sidebar.pug
	.space-70
	include ../../../templates/footer.pug
	include ../../../templates/scripts.pug
