- var title = "Coastal Concepts - Home";

include ../templates/header.pug

body
	include ../templates/navbar.pug
	include ../templates/slider.pug
	// main flex slider end
	.space-50
	.container
		.row.intro-row
			.col-md-12.text-center.wow.animated.fadeInUp
				h2 Building specialist solutions
				h3.subtitle Using Our Team Of Expert Engineers
			.space-70
			.col-sm-4
				.services-box
					i.ion-wrench
					h1 Innovative solutions
					p
						| Coastal concepts strives to deliver specialist marine engineering solutions through extensive product research and development
			// services box
			.col-sm-4
				.services-box
					i.ion-stats-bars
					h1 Proven performance
					p
						| All of our solutions go through a rigorous process of performance testing and validation so that you can be confident that the solution we are presenting will work as intended
			// services box
			.col-sm-4
				.services-box
					i.ion-ribbon-b
					h1 Highest standards
					p
						| We maintain a strict quality control process and only source from our most reliable manufacturing partners. This optimizes our clients' investment
			// services box
		// row end
	// intro with services end
	.space-70
	include ../templates/footer.pug
	include ../templates/scripts.pug
